.fix-scroll {
    position: absolute;
    z-index: 11;
    width: 100px;
    height: 30px;
    background-color: #fff;
    top: 100px;
    line-height: 30px;
  }
  .main {
    height: 200px;
  }
  .image{
    height: 100px;
    width: 100px;
    margin-bottom: 30px;
  }